.hero {
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
	top: -2rem;
	max-width: 1440px;
	max-height: 1080px;
}

.hero::before {
	content: '';
	position: absolute;
	z-index: 2;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 -7rem 7rem 7rem var(--bg-primary) inset;
	clip-path: ellipse(100% 50% at center 42.6%);
}

.hero img {
	display: inline-block;
	position: relative;
	clip-path: ellipse(100% 50% at center 42.5%);
}

.hero figure {
  margin: 0;
}

.hero figcaption {
  display: none;
}

.hero ul.control-dots {
	bottom: 2rem;
	z-index: 9;
}

.hero ul.control-dots li {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
}
