@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('react-responsive-carousel/lib/styles/carousel.min.css');
@import url('leaflet/dist/leaflet.css');


:root {
  --bg-page: #fafbfc;
  --bg-primary: #28b873;
  --bg-secondary: #151b28;
  --bg-action: #f40;
  --bg-action-hover: #f60;
  --link-secondary: #a5acba;
  --highlight-secondary: #5cdeac;
  --fg-secondary: #fff;
  --fg-menuitem-hover: #7fffd4;
  --ldn-dark: #29bc9b;
  --ldn-lighter: #aaffec;
  --ldn-light: #79ffe1;
  --ldn: #50e3c2;
  --heading-2: var(--ldn-dark);
  --heading-3: var(--ldn-dark);
  --headings-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen {
  html, body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
  }

  main {
    padding: 0 3rem;
    margin: 3rem 0;
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: var(--ldn-dark);
  text-decoration: none;
}

a:hover, a:hover:visited {
  color: var(--bg-action);
}

.carousel ul.control-dots {
	bottom: 4rem;
	z-index: 3;
}

.carousel ul.control-dots li {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
}

.carousel figcaption {
  margin: 0;
  position: relative;
  bottom: 3rem;
  font-size: 1rem;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

@media screen and (max-width: 850px) {
  .carousel figure img {
    height: 50vh;
  }

  .carousel figcaption {
    bottom: 1rem;
  }

  .carousel ul.control-dots {
    bottom: 3rem;
  }
}

@media screen and (max-width: 539px) {
  .carousel figure img {
    height: 30vh;
  }

  .carousel figcaption {
    bottom: 3rem;
    display: none;
  }

  .carousel ul.control-dots {
    bottom: -1rem;
  }
}
