/**
azul claro: B1CCFB
**/
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  text-align: left;
  background: #FAFBFC;
}

header {
  height: 500px;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 50px;
}

header::before {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 120vh;
  height: 100vh;
  border-radius: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) scale(3);
  background: #28B873;
  box-shadow: 0 5px 5px 0 #28B873;
}

header h1 {
  position: relative
}

footer {
  min-height: 250px;
  background-color: #151B28;
  color: #fff;
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}

footer>ul>li {
  margin: 0 5%
}

footer>ul {
  display: flex;
  place-content: center;
}

footer a:link,
footer a:visited {
  color: #A5ACBA;
}

footer a:hover,
footer a:active {
  color: #5CDEAC;
}
