@import url('https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css');

@font-face{
  font-family: Euler;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.cdnfonts.com/s/19939/euler.woff) format('woff');
}

.katex {
  font: normal 1.21em Euler, 'Cambria Math', KaTeX_Main, 'Times New Roman', serif;
}

/* Text font families. */
.katex .textrm {
  font-family: Euler, 'Cambria Math', KaTeX_Main;
}

.katex .textsf {
  font-family: 'Cambria Math', KaTeX_SansSerif;
}

.katex .texttt {
  font-family: 'Cambria Math', KaTeX_Typewriter;
}

/* Math fonts. */
.katex .mathnormal {
  font-family: Euler, 'Cambria Math', KaTeX_Math;
  font-style: italic;
}

.katex .mathit {
  font-family: Euler, 'Cambria Math', KaTeX_Main;
  font-style: italic;
}

.katex .mathrm {
  font-style: normal;
}

.katex .mathbf {
  font-family: Euler, 'Cambria Math', KaTeX_Main;
  font-weight: bold;
}

.katex .boldsymbol {
  font-family: Euler, 'Cambria Math', KaTeX_Math;
  font-weight: bold;
  font-style: italic;
}

.katex .amsrm {
  font-family: 'Cambria Math', KaTeX_AMS;
}

.katex .mathbb,
.katex .textbb {
  font-family: 'Cambria Math', KaTeX_AMS;
}

.katex .mathcal {
  font-family: 'Cambria Math', KaTeX_Caligraphic;
}

.katex .mathfrak,
.katex .textfrak {
  font-family: 'Cambria Math', KaTeX_Fraktur;
}

.katex .mathtt {
  font-family: 'Cambria Math', KaTeX_Typewriter;
}

.katex .mathscr,
.katex .textscr {
  font-family: 'Cambria Math', KaTeX_Script;
}

.katex .mathsf,
.katex .textsf {
  font-family: 'Cambria Math', KaTeX_SansSerif;
}

.katex .mathboldsf,
.katex .textboldsf {
  font-family: 'Cambria Math', KaTeX_SansSerif;
  font-weight: bold;
}

.katex .mathitsf,
.katex .textitsf {
  font-family: 'Cambria Math', KaTeX_SansSerif;
  font-style: italic;
}

.katex .mainrm {
  font-family: Euler, 'Cambria Math', KaTeX_Main;
  font-style: normal;
}

/* Delimiters: Parenthesis, Brackets, Braces,
	Norm, Absolute Value, Angle Parenthesis, ... */
/**
.katex .delimsizing.size1 {
  font-family: Euler, 'Cambria Math', KaTeX_Size1;
}

.katex .delimsizing.size2 {
  font-family: Euler;
  font-size: 1.5em;
}

.katex .delimsizing.size3 {
  font-family: Euler;
  font-size: 3em;
}

.katex .delimsizing.size4 {
  font-family: Euler;
  font-size: 2.5em;
}

.katex .delimsizing.mult .delim-size1 > span {
  font-family: Euler, 'Cambria Math', KaTeX_Size1;
}

.katex .delimsizing.mult .delim-size4 > span {
  font-family: Euler;
  font-size: 2.5em;
}
/**/

/* Operator Symbols */
.katex .op-symbol.small-op {
  font-family: Euler, 'Cambria Math', KaTeX_Size1;
}

.katex .op-symbol.large-op {
  font-family: Euler;
  font-size: 1.5em;
  bottom: -0.2em!important;
  margin-right: 0!important;
}
