@media print {
	@page {
		margin: 1cm;
	}

	header {
		display: none;
	}

	nav {
		display: none!important;
	}

	footer {
		display: none;
	}

	html, body {
		font-size: 10pt;
    margin: 0;
		padding: 0;
    text-align: center;
 	}

	a:link, a:visited {
		color: var(--link-printer);
		text-decoration: underline;
	}
}
