.header {
	min-height: 500px;
	color: var(--fg-secondary);
	position: relative;
	overflow: hidden;
}

.header::before {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 120vh;
	height: 100vh;
	border-radius: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) scale(3);
	background: var(--bg-primary);
	box-shadow: 0 5px 5px 0 var(--bg-primary);
	z-index: 1;
}

.header>* {
	z-index: 2;
	position: relative;
}

@media screen and (max-width: 850px) {
  .header {
    min-height: 30vh;
  }
}

@media screen and (max-width: 539px) {
  .header {
    min-height: 30vh;
  }
}
