.navigation-bar {
	box-sizing: border-box;
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: clamp(12ch, 32ch, calc(100% - 2rem)) auto;
	justify-content: center;
	align-items: center;
	grid-auto-rows: 5rem;
	border-bottom: 1px solid var(--highlight-secondary);
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	gap: 0.05rem;
}

.navigation-bar a {
	display: inline-block;
}

.logo:link,
.logo:visited {
	line-height: 100%;
	font-size: 1.5rem;
	font-weight: 600;
	height: 3.4rem;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logo img {
	vertical-align: middle;
}

.sections {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 0.5rem;
}

.sections li {
	line-height: 2.25rem;
}

.sections :hover {
	color: aquamarine;
}

.sections .icon {
	display: none;
}

.call-to-action {
	background: var(--bg-action);
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
	border-radius: 6px;
	padding: 0 1rem;
}

.call-to-action:hover {
	color: white;
	background: var(--bg-action-hover);
}

@media screen and (max-width: 784px) {
	.navigation-bar {
		position: relative;
		padding-right: 1.5rem;
	}

	.sections li {
		display: none;
	}

	.sections .icon {
		display: inline-block;
		font-size: 2.5rem;
		position: absolute;
		right: 1rem;
		top: 25%;
	}

	.icon :hover {
		color: aquamarine;
	}

	.action {
		display: none;
	}
}

@media screen and (max-width: 340px) {
	.navigation-bar {
		grid-template-columns: 14ch auto;
	}
}
