.map {
	height: 81vh;
}

.popup {
	margin: 0 -1rem;
	min-width: 165px;
}

.popup h3 {
	text-align: center!important;
	margin-bottom: 0;
}

.popup dl {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0;
}

.popup dt {
	display: inline-block;
	font-weight: bold;
	margin: 0;
	text-align: right;
}

.popup dd {
	display: inline-block;
	margin: 0 0 0 1ch;
}
